* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100%;
}

.config-largura {
    width: 75%;
    margin: 0 auto;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 10px;
}

.header-logo img {
    width: 150px;
}

.header-menu {
    display: flex;
    list-style-type: none;
    gap: 35px;
}

.header-menu a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}
.header-menu a:hover {
    border-bottom: 2px solid green;
}

.banner {
    position: relative;
    background-image: url('img/bg-estacao.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 380px;  
    text-align: center;    
    display: flex;
}

.banner:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    top: 0;
    left: 0;
}

.banner-caixa {
    color: #fff;
    z-index: 2;
    width: 500px;
    margin: 130px auto;
}
.banner-caixa h1 {
    font-size: 76px;
    text-shadow: 10px 1px 100px black unset;
}
.banner-caixa h2 {
    font-size: 34px;
    text-shadow: 10px 1px 100px black unset;
}

.secao {
    text-align: center;
}

h2:first-child {
    margin: 40px 0;
    font-size: 28px;
}

section img:first-of-type {
    width: 100%;
    margin-bottom: 20px;
}

p {
    text-align: left;
    line-height: 30px;
    margin-bottom: 20px;
}
section p::first-letter {
    font-size: 26px;
}

.lista-pontos li {
    text-align: left;
    margin-left: 0px;
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.lista-pontos li::before {
    content: "";
    background-image: url('img/seta.png');
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 8px;

}

.galeria-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 4px;
    width: 100%;
}
.galeria-img img {
    width: calc((100% / 3) - 4px);
    display: inline-block;
}

.galeria-img img::before {
    position: absolute;
    content: "Caminho das pedras";
    color: #fff;
    width: 150px;
    height: 50px;
}

.galeria-img img:hover {
    opacity: 0.8;
}

footer {
    background-color: #F5C002;
    text-align: center;
    padding: 16px;
    margin-top: 30px;
}

@media (max-width: 680px) {
    header {
        flex-direction: column;
    }
    .header-menu {
        padding: 16px;
    }
    .banner {
        height: 240px;
    }
    .banner-caixa {
        margin: 70px auto;
    }
    .banner-caixa h1 {
        font-size: 50px;
    }
    .banner-caixa h2 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {

    .config-largura {
        width: 95%;
    }
    .header-menu a {
        font-size: 18px;
        font-weight: 500;
    }
    .galeria-img img:hover {
        z-index: 2;
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 380px){
    .header-menu a {
        font-size: 14px;
    }
}